:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
}

mark {
  color: var(--accent);
  background-color: unset;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  /* width: 85%; */
  max-width: 1200px;
  height: 70vh;
  background-color: var(--card-background);
  color: white;
}

.col-1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 2rem;
  flex: 1;
}

.box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.col-2 {
  flex: 1;
  overflow: hidden;
  /* margin: 0;
  padding: 0; */
}

img {
  width: 540px;
  height: 446px;
  padding: 0;
  margin: 0;
}

.text {
  font-size: 15px;
}
